@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  letter-spacing: 1px;
}
body {
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  background: linear-gradient(to bottom right, #00c59a, #00b7ff);
  background-repeat: no-repeat;
}
header {
  width:100%;
  height:auto;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align:center;
}
section {
  width:100%;
  height:auto;
  display:flex;
  align-items:center;
  flex-direction:column;
}
svg {
  margin-right:10px;
}
ul {
  margin:0;
  padding:0;
}
li {
  list-style-type:none;
  margin:0;
  padding:0;
}
.container {
  min-width:900px;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  background:#131325;
}
.iconify--carbon {
  margin-right:25px;
  color:#00c59a;
}
.title {
  text-align:center;
  color:white;
  font-size:40px;
  font-weight:600;
  margin:50px 0 50px 0;
}
.newtask {
  width:95%;
  height:100px;
  display:flex;
  align-items:center;
  justify-content: space-around;
  position:relative;
}
#newtask__input {
  width:88%;
  height:50px;
  margin:0;
  padding:0 0 0 30px;
  border:none;
  border-radius:10px;
  outline:none;
  background: #131325;
  border:2px solid white;
  color:white;
  font-size:20px;
  font-weight: 300;
}
label {
  position:absolute;
  left:40px;
  top:37.5px;
  transition: all 300ms ease;
  background:transparent;
  padding:5px;
  border-radius:5px;
  font-size:20px;
  font-weight:400;
  color:white;
}
#newtask__input:focus ~ label {
  top:12.5px;
  font-size:14px;
  background:#131325;
  color:white;
}
#newtask__input:focus {
  border:3px solid #00b7ff;
}
#newtask__input:not(:focus) {
  color:transparent;
}
#newtask__button {
  width:7%;
  height:50%;
  border:none;
  border-radius:10px;
  margin:0;
  padding:0;
  transition:all 300ms ease;
  letter-spacing: 2px;
  font-size:20px;
  display:flex;
  align-items:center;
  justify-content: center;
  background:#00c59a;
  color:#F1f1f1;
}
#newtask__button svg {
  color:white;
  width:30px;
  height:30px;
  padding:0;
  margin:0;
}
#newtask__button:hover {
  cursor: pointer;
  background: #00c59a7a;
}
#todo {
  width:95%;
  height:auto;
  font-size:20px;
  font-weight:300;
}
.todo__item {
  position:relative;
  height:50px;
  width:100%;
  padding-left:20px;
  display:flex;
  align-items: center;
  color:#F1f1f1;
}
.todo__item:nth-child(even) {
  background:#232343;
}
.delete {
  position:absolute;
  right:0;
  top:0;
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:all 300ms ease;
}
span.delete {
  font-size:30px;
}
.delete:hover {
  background:#F1f1f1;
  color:#131325;
  cursor:pointer;
}





